/*  font-family: 'Roboto', sans-serif; */

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --clr-primary: #61FF70;
    --clr-dark: #181818;
    --clr-light: #FFF;
    --fw-normal: 500;
    /*--fw-bold: ;
    --fw-black: ;*/
    --grid: 1fr;
}

input {
    outline: none;
}

body {
    resize: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1.125rem;
    color: clr(--clr-dark);
    line-height: 1.6;
    background-image: url('../assets/background.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
}

header {
    background-color: var(--clr-dark);
    padding: 1em;
}


.login-grid {
    display: grid;
    grid-template-columns: 1fr 400px 1fr;
}

.login-grid-center {
    position: relative;
    top: 75%;
}



.logo {

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-bottom: 20px;
}

.username-input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 15px;
    border-radius: 20px;
    border-style: none;
    font-size: 18px;
}

.input-text {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 15px;
    border-radius: 20px;
    border-style: none;
    font-size: 18px;
}

.otp-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    font-size: 18px;
    font-family: "Roboto";
    background-color: #61FF70;
    border: none;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 30px;
}

.otp-button:hover {
    transition: 0.25s;
    background-color: #61ff718f;
}

.forgotpass-register-grid {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 100px 1fr;
}


.ortext {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    font-weight: bold;
    color: #FFF;
}


.register-container {

    margin-top: 25%;
    display: block;
    font-size: 18px;
}

.login-container {
    margin-top: 25%;
    display: block;
    font-size: 18px;
    margin-left: 70%;
}

.forgot-pass-text {
    color: #61FF70;
    text-decoration: none;
}

.linktext,
.login-text {
    color: #61FF70;
    text-decoration: none;
}

.ellipse1 {

    position: absolute;
    top: 50%;
    left: 25%;
}

.polygon4 {
    position: absolute;
    top: 20%;
    left: 5%;
}

.polygon2 {
    position: absolute;
    bottom: 12%;
    left: 7%;
}

.polygon1 {
    position: absolute;
    top: 12%;
    left: 45%;
}

.polygon3 {
    position: absolute;
    right: 15%;
    top: 55%;
}

.ellipse2 {
    position: absolute;
    top: 12%;
    right: 15%;
}

.ellipse3 {
    position: absolute;
    bottom: 12%;
    right: 35%;
}

.polygon1,
.polygon2,
.polygon3,
.polygon4,
.ellipse1,
.ellipse2,
.ellipse3 {
    scale: 125%;
}

.forgotpasstext {
    color: white;
    font-size: 24px;
    text-align: center;
}