/*  font-family: 'Roboto', sans-serif; */

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --clr-primary: #61FF70;
    --clr-dark: #181818;
    --clr-light: #FFF;
    --fw-normal: 500;
    /*--fw-bold: ;
    --fw-black: ;*/
    --grid: 1fr;
}

input {
    outline: none;
}

body {
    resize: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1.125rem;
    color: clr(--clr-dark);
    line-height: 1.6;
    background-image: url('../assets/background.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
}

header {
    background-color: var(--clr-dark);
    padding: 1em;
}


.login-grid {
    display: grid;
    grid-template-columns: 1fr 400px 1fr;
}

.login-grid-center {
    position: relative;
    top: 75%;
}



.logo {

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-bottom: 50px;
}

.username-input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 15px;
    border-radius: 20px;
    border-style: none;
    font-size: 18px;
}

.password-input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 15px;
    border-radius: 20px;
    border-style: none;
    font-size: 18px;
}

.login-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    font-size: 18px;
    font-family: "Roboto";
    background-color: #61FF70;
    border: none;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 30px;
}

.forgotpass-register-grid {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 100px 1fr;
}


.ortext {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    font-weight: bold;
    color: #FFF;
}

.forgot-pass-container {
    display: block;
    font-size: 18px;
    margin-left: 50%;
    margin-top: 20%;
    text-align: right;

}

.register-container {

    margin-top: 25%;
    display: block;
    font-size: 18px;
}

.forgot-pass-text {
    color: #61FF70;
    text-decoration: none;
}

.linktext {
    color: #61FF70;
    text-decoration: none;
}

.ellipse1 {

    position: absolute;
    top: 45%;
    left: 25%;
}

.polygon4 {
    position: absolute;
    top: 15%;
    left: 5%;
}

.polygon2 {
    position: absolute;
    bottom: 10%;
    left: 7%;
}

.polygon1 {
    position: absolute;
    top: 10%;
    left: 48%
}

.polygon3 {
    position: absolute;
    right: 5%;
    top: 40%;
}

.ellipse2 {
    position: absolute;
    top: 12%;
    right: 15%;
}

.ellipse3 {
    position: absolute;
    bottom: 12%;
    right: 20%;
}

.polygon1,
.polygon2,
.polygon3,
.polygon4,
.ellipse1,
.ellipse2,
.ellipse3 {
    scale: 125%;
}

.login-button:hover {
    transition: 0.25s;
    background-color: #61ff718f;
}