<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RoomHive</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#submit-btn').click(function (e) {
                e.preventDefault(); // Prevent the form from submitting normally
                var password = $('#password').val();
                var username = $('#username').val();
                // var next_url = $('#next').val();
                // Create a data object with the input values
                var data = {
                    password: password,
                    username: username,

                };

                // Send the data to the Python script
                $.ajax({
                    type: 'POST',
                    url: '/submit',
                    data: JSON.stringify(data),
                    contentType: 'application/json',
                    success: function (response) {
                        console.log('Data submitted successfully!');
                        window.location.href = '/submit';
                    },
                    error: function (error) {
                        console.error('Error submitting data:', error);
                    }
                });
            });
        });
    </script>
    <link rel="icon" type="image/x-icon" href="{{url_for('static',filename='assets/icon.png')}}">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

    <!-- CSS File-->
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
</head>

<body>

    <main class="main main--room">
        <div class="login-grid">

            <div class="login-grid-left"></div>
            <div class="login-grid-center">
                <div class="login-grid-items">
                    <img class="logo" src="{{url_for('static', filename='assets/RoomHive.svg')}}">
                    <form class="search-form" action="{{url_for('submit')}}" method="post">
                        <input name="username" id="username" type="text" class="username-input" placeholder="username">
                        <input name="password" id="password" type="password" class="password-input"
                            placeholder="password">
                        <button id="submit-btn" class="login-button">Login</button>

                        <div class="forgotpass-register-grid">
                            <div class="forgot-pass-container">
                                <a href="{{url_for('forget')}}" class="forgot-pass-text" >
                                    Forgot Password
                                </a>
                            </div>
                            <div class="ortext">
                                <p>OR</p>
                            </div>
                            <div class="register-container">
                                <a href="{{url_for('registerr')}}" class="linktext" >Register</a>
                            </div>
                    </form>
                    {% with messages = get_flashed_messages() %}
                    {% for message in messages %}
                    <p> {{ message }}</p>
                    {% endfor %}
                    {% endwith %}


                </div>
            </div>
        </div>
        <div class="login-grid-right"></div>
        </div>

        <img class="ellipse1" src="{{url_for('static', filename='assets/Ellipse 1.svg')}}">
        <img class="ellipse2" src="{{url_for('static', filename='assets/Ellipse 2.svg')}}">
        <img class="ellipse3" src="{{url_for('static', filename='assets/Ellipse 3.svg')}}">
        <img class="polygon1" src="{{url_for('static', filename='assets/Polygon 1.svg')}}">
        <img class="polygon2" src="{{url_for('static', filename='assets/Polygon 2.svg')}}">
        <img class="polygon3" src="{{url_for('static', filename='assets/Polygon 3.svg')}}">
        <img class="polygon4" src="{{url_for('static', filename='assets/Polygon 4.svg')}}">

    </main>

</body>

</html>