<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RoomHive</title>
    <link rel="icon" type="image/x-icon" href="static/assets/icon.png">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

    <!-- CSS File-->
    <link rel="stylesheet" href="static/css/main.css">
</head>

<body>

    <main class="main main--room">
        <div class="login-grid">

            <div class="login-grid-left"></div>
            <div class="login-grid-center">
                <div class="login-grid-items">
                    <img class="logo" src="static/assets/RoomHive.svg">
                    <input type="text" class="username-input" placeholder="username">
                    <input type="password" class="password-input" placeholder="password">
                    <button class="login-button">Login</button>
                    <div class="forgotpass-register-grid">
                        <div class="forgot-pass-container">
                            <a href="{{url_for('forget')}}"><button> Forgot Password</button></a>
                            <!-- <a href="forgotpassword.html" class="forgot-pass-text" href="">
                                Forgot Password
                            </a>   -->
                        
                        
                        </div>
                        <div class="ortext">
                            <p>OR</p>
                        </div>
                        <div class="register-container">
                            <a class="linktext" href="">Register</a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="login-grid-right"></div>

        </div>

        <img class="ellipse1" src="static/assets/Ellipse 1.svg">
        <img class="ellipse2" src="static/assets/Ellipse 2.svg">
        <img class="ellipse3" src="static/assets/Ellipse 3.svg">
        <img class="polygon1" src="static/assets/Polygon 1.svg">
        <img class="polygon2" src="static/assets/Polygon 2.svg">
        <img class="polygon3" src="static/assets/Polygon 3.svg">
        <img class="polygon4" src="static/assets/Polygon 4.svg">

        <script>
            var loginButton = document.querySelector('.login-button');
            loginButton.addEventListener('click', validateLogin);
        
            function validateLogin(event) {
                event.preventDefault();
        
                var usernameInput = document.querySelector('.username-input');
                var passwordInput = document.querySelector('.password-input');
                var username = usernameInput.value;
                var password = passwordInput.value;
        
                // Perform validation
                if (username === '') {
                    alert('Please enter a username.');
                } else if (password === '') {
                    alert('Please enter a password.');
                } else {
                    // Read and validate username and password from CSV file
                    var fileUpload = document.getElementById("fileUpload");
                    var file = fileUpload.files[0];
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        var csvData = e.target.result;
                        var rows = csvData.split("\n");
                        var validCredentials = false;
                        for (var i = 0; i < rows.length; i++) {
                            var cells = rows[i].split(",");
                            var csvUsername = cells[0];
                            var csvPassword = cells[1];
                            if (csvUsername.trim() === username && csvPassword.trim() === password) {
                                validCredentials = true;
                                break;
                            }
                        }
                        if (validCredentials) {
                            window.location.href = 'searchhome.html';
                        } else {
                            alert('Invalid username or password.');
                        }
                    };
                    reader.readAsText(file);
                }
            }
        </script>
        

    </main>

</body>

</html>