<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RoomHive</title>
    <link rel="icon" type="image/x-icon" href="static/assets/icon.png">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

    <!-- CSS File-->
    <link rel="stylesheet" href="static/css/forgotpassword.css">
</head>

<body>

    <main class="main main--room">
        <div class="login-grid">

            <div class="login-grid-left"></div>
            <div class="login-grid-center">
                <div class="login-grid-items">
                    <img class="logo" src="static/assets/RoomHive.svg">
                    <p class="forgotpasstext">OTP Has Been Sent Via Telegram</p>
                    <form action="{{ url_for('get_otp') }}" method="POST">
                        <input type="text" class="input-text" placeholder="Enter OTP" name="otp">
                        <button type="submit" class="otp-button">Confirm</button>
                    </form>
                    
                      
                    <div class="forgotpass-register-grid">
                        <div class="login-container">
                            <a href="index.html" class="login-text" href="">
                                Login
                            </a>
                        </div>
                        <div class="ortext">
                            <p>OR</p>
                        </div>
                        <div class="register-container">
                            <a class="linktext" href="">Register</a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="login-grid-right"></div>

        </div>

        <img class="ellipse1" src="static/assets/Ellipse 1.svg">
        <img class="ellipse2" src="static/assets/Ellipse 2.svg">
        <img class="ellipse3" src="static/assets/Ellipse 3.svg">
        <img class="polygon1" src="static/assets/Polygon 1.svg">
        <img class="polygon2" src="static/assets/Polygon 2.svg">
        <img class="polygon3" src="static/assets/Polygon 3.svg">
        <img class="polygon4" src="static/assets/Polygon 4.svg">

    </main>

</body>

</html>